/* Init */
* {
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}
img {
  border: none;
}
a {
    text-decoration: none;
    color: #000000;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  height: 0;
}

.none {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.button {
  display: inline-block;
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background-color: #007DC6;
  cursor: pointer;
}
input[type="text"], 
input[type="password"] {
  display: inline-block;
  padding: 6px 2px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* body */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #FFFFFF;
}

