#search {
	margin: 10px;
	width: 100%;
	text-align: center;
}
#search span {
	display: inline-block;
}
#search select {
	padding-left: 2px;
	height: 28px; 
	border: 1px #007dc6 solid; 
	border-radius: 2px;
}

#box {
	margin: 10px;
	width: 100%;
	height: 200px;
	text-align: center;
}

#left,
#right {
	position: relative;
	display: inline-block;
	width: 48%;
	height: 100%;
	border: 2px #ccc solid;
	border-radius: 5px;
	text-align: center;
}

#left:hover,
#right:hover {
	border: 2px #007dc6 solid;

	.delete {
		color: #f00;
	}
}

#right textarea,
#left textarea {
	padding: 1%;
	width: 98%;
	height: 90%;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.delete,
#forLoadSwf {
	position: absolute;
	top: 2px;
	right: 2px;
	display: inline-block;
	cursor: pointer;
}

.delete {
	color: #ccc;
}