#search {
	margin: 10px;
	width: 100%;
	text-align: center;
}
#search span {
	display: inline-block;
}
#search select {
	padding-left: 2px;
	height: 28px; 
	border: 1px #007dc6 solid; 
}

#box {
	margin: 10px;
	width: 100%;
	height: 600px;
	text-align: center;
}

#left,
#right {
	display: inline-block;
	width: 48%;
	height: 100%;
	border: 2px #ccc solid;
	border-radius: 5px;
	text-align: center;
}

#left:hover,
#right:hover {
	border: 2px #007dc6 solid;
}

#left textarea {
	padding: 1%;
	width: 98%;
	height: 97%;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}